name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node
        uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install deps
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn run lint

      - name: Test
        run: yarn test --coverage

      - name: codecov
        uses: codecov/codecov-action@v2

      - name: Build
        run: yarn run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/**/*
